@media screen and (max-width: 550px) {
.footerImg{
  width: 20%;
}
}

@media screen and (min-width: 550px) {
  .footer {
  padding: 10px 0px 0px 0px;
}

.footer div {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
}
