.footer {
  padding: 10px 0px 0px 0px;
  /* width: 99%;
    margin: auto; */
}

.footer div {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

@media screen and (max-width: 550px) {
  .footer {
    width: 95%;
    margin: auto;
  }
  .footer div {
    flex-direction: column;
    float: left;
  }

  img {
      width: 35%;
  }
}
